*
{
    margin: 0;
    padding: 0;
}
header, section
{
    min-height: 100vh;
    text-align: center;
    font-family: "poppins", sans-serif;
    display: flex;
	justify-content: center;
    position: relative;
}

html 
{
    scroll-behavior: smooth;
}

/* icone */
@font-face
{
    font-family: "icomoon";
    src: url("../police/icone.ttf");
}
.icone
{
    font-family: "icomoon";
}
.icone-bas:before
{
    content: "\ea43";
    color :rgb(10, 124, 99)
}
.icone-photo:before
{
	content: "\e90f";
}
.icone-musique:before
{
	content: "\e911";
}
.icone-pacman:before
{
	content: "\e916";
}
.icone-telephone:before
{
	content: "\e942";
}
.icone-email:before
{
	content: "\e945";
}
.icone-in:before
{
	content: "\eac9"; 
}

/* header */
#fond
{
    background-image: url("../img/noel.jpg"); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
    min-height: 100vh; 
    width: 100%;
}
#fond h1
{
    color: rgb(10, 124, 99);
    transform: translateY(calc(70vh - 50%));
}
#fond p
{
    font-size: 2em;
    position: absolute;
    bottom: 7%;
    left: calc(50% - 1em);
}
#fond a
{
    text-decoration: none;
    opacity: 0.6;
    transition: 0.2s;
}
#fond a:hover
{
    opacity: 1;
}

/* section */
.contenu, .passion
{
    width: 70%;
    margin: auto;
    text-align: left;
}
.passion
{
    width: 70%;
    margin: auto;
    text-align: left;
    display: flex;
}
.contenu h2, .contenu p
{
    margin-bottom: 5%;
    font-weight: bold;
}
.section-couleur, footer
{
    background-color: rgb(10, 124, 99);
    color: white;
}

#cerf
{
    position: fixed;
    bottom: 0px;
    right: 2%;
    width: 10%;
    z-index: 10;
}

/* passion */
.passion figure
{
    display: inline-block; 
    width: 100%;
    font-size: 1.4em;
    text-align: center;
}
.passion figure:nth-child(1):hover
{
    opacity: 0.6;
}
.passion figure:nth-child(2):hover
{
    opacity: 0.6;
}
.passion figure:nth-child(3):hover
{
    opacity: 0.6;
}
.passion .icone
{
    font-size: 1.5em;
}
.passion figcaption
{
    margin-top: 1em;
}

/* publication */
.publication article
{
    display: inline-block; 
    background: rgb(10, 124, 99);
    width: 28% ;
    margin: 2%; 
    transition: 0.2s;
    text-align: center;
}
.publication article img
{
    width: 100% ;
}
.publication article:hover
{
    transform: scale(1.05);
}
.publication article h3
{
    padding: 1em;
}
.publication article a
{
    text-decoration: none;
    color: white;
}

/* footer */
footer
{
    color: white;
    min-height: 80vh;
    padding-left: 15%;
    font-family: "poppins", sans-serif;
}
footer h2
{
    padding-top: 10%;
    margin-bottom: 1em;
}
footer input, footer textarea, footer button
{
    font-size: 1em;
    font-family: "poppins", sans-serif;
}
footer input
{
    width: 100%; 
    height: 2em;
    margin-bottom: 1em;
}
footer textarea
{
    width: 100%; 
    height: 10em;
    margin-bottom: 1em;
}
footer button
{
    padding: 0.8em;
    transition: 0.2s;
    border: solid 1px white;
    background-color: transparent;
    color: white;
}
footer button:hover
{
    transform: scale(1.1);
    background-color: white;
    border-radius: 5px;
    color: rgb(10, 124, 99);
}
.contenufin{
    display: flex;
    width: 70%;
}
footer .colonne
{
	width: 50%;
}
footer .colonne:last-child
{
    display: inline;
}
footer ul
{
    margin-left: 10%;
}
footer ul li
{
    list-style: none;
}
footer ul li a
{
    text-decoration: none;
    color: white;
}
footer ul li .icone
{
    font-size: 1.5em; 
    margin-right: 0.5em; 
}

/*Responsive */


@media screen and (max-width: 50em) 
{  
    .passion 
    {
        width: 90%;
    }
    .publication article 
    {
        width: 45%;
        margin: 5% 2% 10% 2%;
    }
    #article2
    {
        margin-top: 10%;
    }
    .contenufin
    {
        display: block;
        width: 100%;
    }
    footer
    {
        padding-left: 0%;
    }
    footer h2
    {
        padding-left: 10%;
    }
    footer .colonne
    {
        width: 90%;
        margin: 5%;
    }  
}

@media screen and (max-width: 25em) 
{
    #fond h1 
    {
        transform: translateY(calc(30vh - 50%));
        padding: 2%;
        font-size: 1.5em;
    }
    #cerf
    {
        display: none;
    }
    .passion 
    {
        display: block;
    }
    .publication article
    {
        display: block;
        justify-content: center;
        width: 90%;
        margin: 15% 5%;
    }
    figure
    {
        margin-bottom: 25%;
    }
    footer
    {
        padding: 0;
    }
    footer h2
    {
        text-align: center;
        padding-left: 0%;
    }
    .contenu p
    {
        font-weight: normal;
    }
    .contenufin
    {
        display: block;
    }
    footer .colonne
    {
        width: 90%;
        margin: 5%;
    }
    footer ul li
    {
        margin-top: 10%;
    }
    footer button
    {
        font-size: 0.9em;
        padding: 0.5;
    }
}